/* ==|=======================================================================
   SASS Mixin - create-responsive-grid
   Creates all required classes for a responsive grid.

   @param $gridsize						string		The width of the complete grid.
   @param $column-width					string		The width of each column in the grid.
   @param $offset						string		The width of the offset after each grid.
   @param $default-resolution			bool		Is the grid for the default resolution?
   @param $include-tablet-exceptions	bool		Should tablet exceptions be included in this grid?
   @param $include-mobile-exceptions	bool		Should mobile exceptions be included in this grid?
   ========================================================================== */

@mixin create-responsive-grid($gridsize, $column-width, $offset, $default-resolution, $include-tablet-exceptions, $include-mobile-exceptions) {

	.container {
		width: $gridsize;

		.row {
			margin-left: -$offset;

			@if $default-resolution {

				&:before, &:after {
					display: table;
					content: "";
				}

				&:after {
					clear: both;
				}

			}

			.span12 {
				margin-left: $offset;
				width: calculateSpanWidth(12, $column-width, $offset);

				@if $default-resolution {
					float: left;
				}

			}

			.span11 {
				margin-left: $offset;
				width: calculateSpanWidth(11, $column-width, $offset);

				@if $default-resolution {
					float: left;
				}

			}

			.span10 {
				margin-left: $offset;
				width: calculateSpanWidth(10, $column-width, $offset);

				@if $default-resolution {
					float: left;
				}

			}

			.span9 {
				margin-left: $offset;
				width: calculateSpanWidth(9, $column-width, $offset);

				@if $default-resolution {
					float: left;
				}

			}

			.span8 {
				margin-left: $offset;
				width: calculateSpanWidth(8, $column-width, $offset);

				@if $default-resolution {
					float: left;
				}

			}

			.span7 {
				margin-left: $offset;
				width: calculateSpanWidth(7, $column-width, $offset);

				@if $default-resolution {
					float: left;
				}

			}

			.span6 {
				margin-left: $offset;
				width: calculateSpanWidth(6, $column-width, $offset);

				@if $default-resolution {
					float: left;
				}

			}
			.span5 {
				margin-left: $offset;
				width: calculateSpanWidth(5, $column-width, $offset);

				@if $default-resolution {
					float: left;
				}

			}

			.span4 {
				margin-left: $offset;
				width: calculateSpanWidth(4, $column-width, $offset);

				@if $default-resolution {
					float: left;
				}

			}

			.span3 {
				margin-left: $offset;
				width: calculateSpanWidth(3, $column-width, $offset);

				@if $default-resolution {
					float: left;
				}

			}

			.span2 {
				margin-left: $offset;
				width: calculateSpanWidth(2, $column-width, $offset);

				@if $default-resolution {
					float: left;
				}

			}

			.span1 {
				margin-left: $offset;
				width: $column-width;

				@if $default-resolution {
					float: left;
				}

			}

			.offset12 { margin-left: calculateOffsetWidth(12, $column-width, $offset); }
			.offset11 { margin-left: calculateOffsetWidth(11, $column-width, $offset); }
			.offset10 { margin-left: calculateOffsetWidth(10, $column-width, $offset); }
			.offset9 { margin-left: calculateOffsetWidth(9, $column-width, $offset); }
			.offset8 { margin-left: calculateOffsetWidth(8, $column-width, $offset); }
			.offset7 { margin-left: calculateOffsetWidth(7, $column-width, $offset); }
			.offset6 { margin-left: calculateOffsetWidth(6, $column-width, $offset); }
			.offset5 { margin-left: calculateOffsetWidth(5, $column-width, $offset); }
			.offset4 { margin-left: calculateOffsetWidth(4, $column-width, $offset); }
			.offset3 { margin-left: calculateOffsetWidth(3, $column-width, $offset); }
			.offset2 { margin-left: calculateOffsetWidth(2, $column-width, $offset); }
			.offset1 { margin-left: calculateOffsetWidth(1, $column-width, $offset); }

			@if $include-tablet-exceptions {

				.tspan12 { width: calculateSpanWidth(12, $column-width, $offset); }
				.tspan11 { width: calculateSpanWidth(11, $column-width, $offset); }
				.tspan10 { width: calculateSpanWidth(10, $column-width, $offset); }
				.tspan9 { width: calculateSpanWidth(9, $column-width, $offset); }
				.tspan8 { width: calculateSpanWidth(8, $column-width, $offset); }
				.tspan7 { width: calculateSpanWidth(7, $column-width, $offset); }
				.tspan6 { width: calculateSpanWidth(6, $column-width, $offset); }
				.tspan5 { width: calculateSpanWidth(5, $column-width, $offset); }
				.tspan4 { width: calculateSpanWidth(4, $column-width, $offset); }
				.tspan3 { width: calculateSpanWidth(3, $column-width, $offset); }
				.tspan2 { width: calculateSpanWidth(2, $column-width, $offset); }
				.tspan1 { width: calculateSpanWidth(1, $column-width, $offset); }

			}

			@if $include-mobile-exceptions {

				.mspan12 { width: calculateSpanWidth(12, $column-width, $offset); }
				.mspan11 { width: calculateSpanWidth(11, $column-width, $offset); }
				.mspan10 { width: calculateSpanWidth(10, $column-width, $offset); }
				.mspan9 { width: calculateSpanWidth(9, $column-width, $offset); }
				.mspan8 { width: calculateSpanWidth(8, $column-width, $offset); }
				.mspan7 { width: calculateSpanWidth(7, $column-width, $offset); }
				.mspan6 { width: calculateSpanWidth(6, $column-width, $offset); }
				.mspan5 { width: calculateSpanWidth(5, $column-width, $offset); }
				.mspan4 { width: calculateSpanWidth(4, $column-width, $offset); }
				.mspan3 { width: calculateSpanWidth(3, $column-width, $offset); }
				.mspan2 { width: calculateSpanWidth(2, $column-width, $offset); }
				.mspan1 { width: calculateSpanWidth(1, $column-width, $offset); }

			}

		}

	}

}